*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{
    display: inline;
}
.nav a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 25px;
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    background: transparent;
    color: black;
    padding: 55px 150px 0px 0px;
}

.nav a:hover{
    color: #D291BC;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container ul li i{
    color: rgb(191, 191, 191);
}

.container ul li i:hover{
    color: rgb(71, 2, 71);
}

.container span{
    color: rgb(65, 65, 65);
}

.about-me{
    display: flex;
}

.grid {
    display: inline;
    row-gap: 50px;
    column-gap: 50px;
    grid-template-columns:auto auto;
    background-color: transparent;
    width: 50%;
  }
  
.grid-item2 {
    background-color: transparent;
    border: 1px rgba(0, 0, 0, 0.8);
    font-size: 15px;
    padding-bottom: 20px;
    text-align: center;
    color: whitesmoke;

  }

.grid-item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: transparent;
    border: 1px rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: center;
  }


.image{
    animation: fade-in 5000ms forwards;
    animation: slide-in 1.4s ease;
  }



@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slide-in{
    0%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0);
    }
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'menu main right'
    'menu main right';
  gap: 10px;
  background-color: transparent;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.37);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

