*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{
    display: inline;
}
.nav a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 25px;
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    background: transparent;
    color: black;
    padding: 55px 150px 0px 0px;
}

.nav a:hover{
    color: #D291BC;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container ul li i{
    color: rgb(191, 191, 191);
}

.container ul li i:hover{
    color: rgb(71, 2, 71);
}

.container span{
    color: rgb(65, 65, 65);
}

h1{
    text-align: center;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: center;
  }

  .grid-container .item3 a{
    text-decoration: underline;
    color: black;
}


.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: info1; }
.item7 { grid-area: info2; }
.item8 { grid-area: info3; }
.item9 { grid-area: info4; }
.item10 { grid-area: info5; }
.item11 { grid-area: info6; }
.item12 { grid-area: info7; }
.item13 { grid-area: info8; }
.item14 { grid-area: info9; }
.item15 { grid-area: info10; }
.item16 { grid-area: info11; }
.item17 { grid-area: info12; }
.item18 { grid-area: info13; }
.item19 { grid-area: info14; }
.item20 { grid-area: info15; }
.item21 { grid-area: info16; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer'
    'info1 info2 info2 info2 info3 info3'
    'info1 info4 info4 info4 info4 info4'
    'info5 info6 info6 info6 info7 info7'
    'info5 info8 info8 info8 info8 info8'
    'info9 info10 info10 info10 info11 info11'
    'info9 info12 info12 info12 info12 info12'
    'info13 info14 info14 info14 info15 info15'
    'info13 info16 info16 info16 info16 info16';
  gap: 10px;
  background-color: transparent;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.37);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.progress{
    background-color: transparent;
}

.grid-container p a:hover{
    color: whitesmoke;
  }

  .progress-bar-html{
    background-color: violet;
  }

  .progress-bar-css{
    background-color: rgb(173, 100, 111);
  }

  .progress-bar-boot{
    background-color: rgb(128, 181, 199);
  }

  .progress-bar-adobep{
    background-color: rgb(115, 201, 115);
  }

  .progress-bar-adobei{
    background-color: rgb(195, 195, 119);
  }


@media screen and (width <= 900px) {
    img {
        width: 100%;
    }
    .grid-container {
        flex-flow: column wrap;
    }
}