*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{
    display: inline;
}
.nav a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 25px;
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    background: transparent;
    color: black;
    padding: 55px 150px 0px 0px;
}

.nav a:hover{
    color: #D291BC;
}

h1{
    padding-top: 8%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span{
    text-align: center;
    color: rgb(212, 212, 212);
}

footer{
    padding: 0 0 0 0;
}

.container ul li i{
    color: rgb(191, 191, 191);
}

.container ul li i:hover{
    color: rgb(71, 2, 71);
}

.container span{
    color: rgb(65, 65, 65);
}

h3{
    text-align: center;
}

/* .image{
    float: right;

} */
.landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
